
@{
    ViewData["Title"] = "Gösterge Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Gösterge Paneli</h4>
        </div>
    </div>
</div>
<!-- end page title --> 