@model ProductModel
@{
    ViewData["Title"] = "Add New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Add New Product</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <form asp-controller="Admin" asp-action="CreateProduct" method="post" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label asp-for="Name" class="col-md-12 col-form-label"></label>
                                <input asp-for="Name" value="@Model.Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                             <div class="mb-3">
                                <label asp-for="Description" class="col-md-12 col-form-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="8">@Model.Description</textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                               <label asp-for="Price" class="col-md-12 col-form-label"></label>
                                <input asp-for="Price" value="@Model.Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                             <div class="mb-3">
                                <label asp-for="ImageUrl" class="col-md-12 col-form-label"></label>
                                <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>

                             <div class="mb-3">
                               <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i> Save Product</button>
                               <a asp-controller="Admin" asp-action="ProductList" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Back To List</a>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>
<!-- end row -->