<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce.WebUI</title>
    <partial name="_partialHead" />
</head>
<body class="loading" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>
    <!-- Begin page -->
    <div id="wrapper">
        <partial name="_partialNavBar" />
        <partial name="_partialSideBar" />
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()
                 </div>
            </div>
            <partial name="_partialFooter" />
        </div>
    </div>
    <partial name="_partialScripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
