 <!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>

<!-- knob plugin -->
<script src="/assets/libs/jquery-knob/jquery.knob.min.js"></script>

<!--Morris Chart-->
<script src="/assets/libs/morris.js06/morris.min.js"></script>
<script src="/assets/libs/raphael/raphael.min.js"></script>

<!-- Dashboar init js-->
<script src="/assets/js/pages/dashboard.init.js"></script>

<!-- App js-->
<script src="/assets/js/app.min.js"></script>
